@import url("colors.css");

header {
	color: white;
	width: 100%;
	background-color: var(--green-primary);
	display: flex;
	justify-content: center;
}

header .wrapper{
	width: 100%;
	justify-content: space-between;
}

header h1 {
	margin: 20px;
}

header h1 a {
	text-decoration: none;
	color: white;
}

header ul {
	margin: 20px;
	font-size: large;
	list-style: none;
	display: flex;
}

header ul li {
	margin: 0px 10px;
}

header ul li a {
	text-decoration: none;
	color: white;
}

header ul li a:hover{
	color:var(--red-light);
}