@import "main.css";

.center{
    display: flex;
    justify-content: center;
}

.login{
    padding: 25px;
}

.login div {
    display: flex;
    flex-wrap: wrap;
}

.login p{
    color: var(--red-light);
}

.login label{
    width: 175px;
    margin-bottom: 25px;
}

.login input{
    width: 250px;
    margin-bottom: 25px;
}

.login button{
    margin-right: 25px;
}

.login a{
    margin-left: 10px;
}