@import "main.css";


.center {
	display: flex;
    justify-content: center;
}

.member-container a, .list-container a {
	font-size: large;
	font-weight: bold;
}

.list-container, .member-container{
	display: flex;
	flex-wrap: wrap;
    flex-grow: 1;
	padding: 25px;
}

.list-cards{
	padding-left: 0px;
}

.list-card{
	list-style: none;
    border: 2px solid;
    padding: 15px;
    margin: 15px;
    width: 500px;
}

.list-card-title{
	margin: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.list-card-description{
	margin: 10px;
}

.list-card-status{
}

.list-card-status span{
	font-weight: bold;
}

.list-card-status select{
	margin: 10px;
}

.list-card-delete{
	float: right;
	border: none;
	background-color: transparent;
	color: var(--green-primary);
	font-size: larger;
	cursor: pointer;
}

.list-delete-tooltip{
	visibility: hidden;
    width: 120px;
    background-color: var(--green-primary);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
	font-size: medium;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.list-card-delete:hover .list-delete-tooltip{
	visibility: visible;
}

.list-add-card, .list-add-card-title, .list-add-card-description, .list-add-card-button, .list-add-new{
	margin: 10px;
}

.list-add-card-title label, .list-add-card-description label {
	margin-right: 10px;
}